* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
}

.nav-logo {
  height: 50;
  width: 100px;
}
.logo {
  background-image: url(nav-sprite-global-1x-reorg-privacy._CB587940754_.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 50px;
  width: 100px;
}
.nav-border {
  border: 0px solid transparent;
}
.nav-border:hover {
  border: 1.5px solid white;
}
.address > p {
  font-size: 0.8rem;
  color: #cccccc;
}
.address.nxtline > p {
  font-size: 1rem;
}
.address > .nxtline {
  display: flex;
}
